name: buildx

on:
  push:
    branches:
      - 'ubuntu'
  pull_request:
  workflow_dispatch:

env:
  DOCKERHUB_USER: wiserain
  IMAGE_NAME: wiserain/tvhbase

jobs:
  build-tvhbase-ubuntu:
    runs-on: ubuntu-20.04
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Initial Buildx
        uses: docker/build-push-action@v3
        with:
          context: .
          file: Dockerfile
          tags: ${{ env.IMAGE_NAME }}:testing
          platforms: linux/amd64
      -
        name: Login to docker.io
        uses: docker/login-action@v2
        if: github.actor == github.event.repository.owner.login
        with:
          username: ${{ env.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Login to ghcr.io
        uses: docker/login-action@v2
        if: github.actor == github.event.repository.owner.login
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_PAT }}
      -
        name: Buildx and Push
        uses: docker/build-push-action@v3
        if: github.actor == github.event.repository.owner.login
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:testing-ubuntu
            ghcr.io/${{ env.IMAGE_NAME }}:testing-ubuntu
      -
        name: Send Notification
        uses: sarisia/actions-status-discord@v1
        if: failure() && github.actor == github.event.repository.owner.login
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
          status: ${{ job.status }}
          description: |
            ${{ env.IMAGE_NAME }}:testing-ubuntu
            ghcr.io/${{ env.IMAGE_NAME }}:testing-ubuntu
